<mat-grid-list cols="2" gutterSize="10px">
  <mat-grid-tile>
    <mat-card class="maps-card">
      <mat-card-header>
        <mat-card-title>
          Prueba Tecnica Sytex
        </mat-card-title>
        <mat-card-subtitle>
          Este mapa esta siendo consumido desde la api de googlemaps
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="maps-card-content">
        <google-map width="100%" [center]="center" [zoom]="zoom" >
          <map-marker *ngFor="let marker of markers" [position]="marker"></map-marker>
        </google-map>
      </mat-card-content>
      <mat-card-actions>
        <form (ngSubmit)="addMarker()" #f="ngForm" class="validate-form flex-sb flex-w" id="addMarkers"
          [formGroup]="coordsGroup">
          <table class="table-inputs align-center">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Latitud</mat-label>
                  <input matInput type="number" class="form-control" id="input-lat" name="lat" formControlName="lat"
                    placeholder="-34.564" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Longitud</mat-label>
                  <input matInput class="form-control" id="input-lng" name="lng" type="number" formControlName="lng"
                    placeholder="-64.542" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="background: grey;">
                <button mat-button type="submit">
                  Agregar
                </button>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="markers.length > 0 ">
    <div>
      <h3 class="align-center">
        Tabla de coordenadas
      </h3>

      <table class="table-coords">
        <tr class="columns-table-coords">
          <th class="columns-table-coords">Latitud</th>
          <th class="columns-table-coords">Longitud</th>
          <th class="columns-table-coords">Accion</th>
        </tr>
        <tr *ngFor="let elem of markers;  index as i" class="columns-table-coords">
          <td class="columns-table-coords">{{ elem.lat}}</td>
          <td class="columns-table-coords">{{ elem.lng }}</td>
          <td class="columns-table-coords">
            <mat-icon class="cursor-pointer" (click)="removeMarker(i)">delete</mat-icon>
          </td>
        </tr>
      </table>
    </div>

  </mat-grid-tile>

</mat-grid-list>